body{
	background-image: url('../img/stupa_borobudur.jpg');
	background-size: cover;
}
div{
	width: 700px;
	height: 500px;
	border: 2px solid red;
	margin: 2px 500px 0 400px;
	color: blue;
	background-image: url('../img/avocado.jpg');
}
.justify{
	background-repeat: repeat;
}
.repeat{
	background-repeat: repeat-x;
}